force-app/main/default/flows/Screen_Flow_Household_Divorce_Post_Roundtable_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Inserts New House Hold Members in Separate Transactions.</description>
        <name>Batch_DML_Insert_New_House_Hold_Members</name>
        <label>Batch DML Insert New House Hold Members</label>
        <locationX>930</locationX>
        <locationY>4502</locationY>
        <actionName>BatchDML</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Person_Account_Updates</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobjects</typeName>
            <typeValue>AccountContactRelation</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dmlOperation</name>
            <value>
                <stringValue>Insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsPerTransaction</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjects</name>
            <value>
                <elementReference>varC_NewHouseholdGroupMembers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BatchDML</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_GM_Records_to_Collection</name>
        <label>Add GM Records to Collection</label>
        <locationX>1898</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varC_OriginalHouseholdGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OriginalHouseholdExSpouseGM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_OriginalHouseholdGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OriginalHouseholdPrimaryGM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_GM_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Group_Members_to_Collection</name>
        <label>Add Group Members to Collection</label>
        <locationX>930</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varC_OriginalHouseholdGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OriginalHouseholdPrimaryGM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_OriginalHouseholdGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OriginalHouseholdExSpouseGM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original_Household_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_HH_Group_Members_to_Collection</name>
        <label>Add New HH Group Members to Collection</label>
        <locationX>930</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>varC_NewHouseholdGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SeparatedHouseholdPrimaryGM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_NewHouseholdGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SeparatedHouseholdExSpouseGM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Batch_DML_Insert_New_House_Hold_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Paraplanner_Member_to_Collection</name>
        <label>Add Paraplanner Member to Collection</label>
        <locationX>798</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>varC_NewHHTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHouseholdParaplannerTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HH_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Person_Accounts_to_Collection</name>
        <label>Add Person Accounts to Collection</label>
        <locationX>930</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>varC_PersonAccountContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_DefaultPAContactRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_PersonAccountContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SeparatedPAContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Person_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Primary_Advisor_to_Collection</name>
        <label>Add Primary Advisor to Collection</label>
        <locationX>930</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>varC_NewHHTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHouseholdPrimaryAdvisorTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_NewHouseholdAccountSharing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHouseholdPrimaryAdvisorShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Secondary_Advisor_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Relationship_to_New_HH_on_Shared_Tasks</name>
        <label>Add Relationship to New HH on Shared Tasks</label>
        <locationX>1018</locationX>
        <locationY>6230</locationY>
        <assignmentItems>
            <assignToReference>varR_TaskRelationRecord.TaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Created_Task_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_TaskRelationRecord.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Relations_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Secondary_Advisor_Member_to_Collection</name>
        <label>Add Secondary Advisor Member to Collection</label>
        <locationX>798</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>varC_NewHHTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHouseholdSecondaryAdvisorTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Strategic_Advisor_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Strategic_Advisor_Member_to_Collection</name>
        <label>Add Strategic Advisor Member to Collection</label>
        <locationX>666</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>varC_NewHHTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHouseholdStrategicAdvisorTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tax_Advisor_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Task_Relations_to_Collection</name>
        <label>Add Task Relations to Collection</label>
        <locationX>1018</locationX>
        <locationY>6338</locationY>
        <assignmentItems>
            <assignToReference>varC_TaskRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_TaskRelationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Created_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tasks_to_Collection</name>
        <label>Add Tasks to Collection</label>
        <locationX>930</locationX>
        <locationY>5798</locationY>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_MiniPlanNewHHTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_MiniPlanOriginalHHTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OrionTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ReviewSeparatedHHTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_EmailTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OriginalHHAdvisorTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHHAdvisorTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tax_Member_to_Collection</name>
        <label>Add Tax Member to Collection</label>
        <locationX>798</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>varC_NewHHTeamMembersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewHouseholdTaxTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paraplanner_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_HH_Group_Members</name>
        <label>Assign New HH Group Members</label>
        <locationX>930</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdPrimaryGM.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdPrimaryGM.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_SeparatedPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdPrimaryGM.FinServ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdPrimaryGM.FinServ__PrimaryGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdPrimaryGM.FinServ__Rollups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdPrimaryGM.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdExSpouseGM.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdExSpouseGM.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_DefaultPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHouseholdExSpouseGM.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ex-Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_HH_Group_Members_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Household_Fields</name>
        <label>Assign New Household Fields</label>
        <locationX>930</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_SeparatedClientHouseholdName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.FinServ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Separated_Spouse_PA.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Separated_Spouse_PA.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Separated_Spouse_PA.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Separated_Spouse_PA.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Primary_Advisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPrimaryAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Secondary_Advisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSecondaryAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Paraplanner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newParaplanner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPrimaryAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Automation_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Strategic_Advisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStrategicAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedHousehold.Tax_Advisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaxAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Paraplanner_Team_Member</name>
        <label>Assign Paraplanner Team Member</label>
        <locationX>798</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdParaplannerTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdParaplannerTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newParaplanner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdParaplannerTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdParaplannerTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdParaplannerTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdParaplannerTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paraplanner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Paraplanner_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Person_Account_Updates</name>
        <label>Assign Person Account Updates</label>
        <locationX>930</locationX>
        <locationY>4610</locationY>
        <assignmentItems>
            <assignToReference>varR_DefaultPAContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_DefaultPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DefaultPAContactRecord.FinServ__MaritalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DefaultPAContactRecord.Date_of_Divorce__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Date_of_Divorce</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedPAContactRecord.Primary_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedPAContactRecord.Primary_Household_Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedPAContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_SeparatedPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedPAContactRecord.FinServ__MaritalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedPAContactRecord.Date_of_Divorce__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Date_of_Divorce</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DefaultPAContactRecord.Primary_Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DefaultPAContactRecord.Previous_Marriage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SeparatedPAContactRecord.Previous_Marriage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Person_Accounts_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Advisor_Team_Member</name>
        <label>Assign Primary Advisor Team Member</label>
        <locationX>930</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdPrimaryAdvisorTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdPrimaryAdvisorTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPrimaryAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdPrimaryAdvisorTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdPrimaryAdvisorTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdPrimaryAdvisorTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdPrimaryAdvisorTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Primary_Advisor_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_Advisor_Team_Member</name>
        <label>Assign Secondary Advisor Team Member</label>
        <locationX>798</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdSecondaryAdvisorTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdSecondaryAdvisorTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSecondaryAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdSecondaryAdvisorTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdSecondaryAdvisorTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary Advisor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdSecondaryAdvisorTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdSecondaryAdvisorTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Secondary_Advisor_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Strategic_Advisor_Team_Member_in_Meetings</name>
        <label>Assign Strategic Advisor Team Member in Meetings</label>
        <locationX>666</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStrategicAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Strategic Advisor - In Meetings</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Strategic_Advisor_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Strategic_Advisor_Team_Member_not_in_meetings</name>
        <label>Assign Strategic Advisor Team Member not in meetings</label>
        <locationX>930</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStrategicAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdStrategicAdvisorTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Strategic Advisor - NOT in Meetings</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Strategic_Advisor_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_Team_Member</name>
        <label>Assign Tax Team Member</label>
        <locationX>798</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdTaxTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdTaxTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaxAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdTaxTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdTaxTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdTaxTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHouseholdTaxTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tax Advisor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tax_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_updated_Roles_to_HH_Group_Members</name>
        <label>Assign updated Roles to HH Group Members</label>
        <locationX>1898</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientGMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ex-Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.FinServ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.FinServ__Rollups__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.FinServ__PrimaryGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.FinServ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.FinServ__Rollups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NonPrimaryGMId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_GM_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Tasks_to_Collection</name>
        <label>Add Tasks to Collection</label>
        <locationX>1106</locationX>
        <locationY>7670</locationY>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_MiniPlanOriginalHHTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OrionTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_EmailTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OriginalHHAdvisorTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Orion_Task</name>
        <label>Orion Task</label>
        <locationX>1106</locationX>
        <locationY>7346</locationY>
        <assignmentItems>
            <assignToReference>varR_OrionTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_OperationsQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Orion Tasks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Orion HH, move accounts, review/update Portal access.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_to_Both_Parties_Task0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_to_Both_Parties_Task</name>
        <label>Email to Both Parties Task</label>
        <locationX>930</locationX>
        <locationY>5474</locationY>
        <assignmentItems>
            <assignToReference>varR_EmailTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Divorce_Process__c.Operations_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Email both Parties</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send communication each spouse on next steps. (letter from President/CCO)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_HH_Advisor_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_to_Both_Parties_Task0</name>
        <label>Email to Both Parties Task</label>
        <locationX>1106</locationX>
        <locationY>7454</locationY>
        <assignmentItems>
            <assignToReference>varR_EmailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Divorce_Process__c.Operations_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Email both Parties</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmailTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send communication each spouse on next steps. (letter from President/CCO)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HH_Advisor_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HH_Advisor_Task</name>
        <label>HH Advisor Task</label>
        <locationX>1106</locationX>
        <locationY>7562</locationY>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_7Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household.Primary_Advisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Advisor Tasks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BPs to create: Estate Plan, Beneficiaries, Management Forms</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Tasks_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_HH_Advisor_Task</name>
        <label>New HH Advisor Task</label>
        <locationX>930</locationX>
        <locationY>5690</locationY>
        <assignmentItems>
            <assignToReference>varR_NewHHAdvisorTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHHAdvisorTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_7Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHHAdvisorTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPrimaryAdvisor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHHAdvisorTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Advisor Tasks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewHHAdvisorTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BPs to create: Estate Plan, Beneficiaries, Management Forms</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tasks_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Original_HH_Advisor_Task</name>
        <label>Original HH Advisor Task</label>
        <locationX>930</locationX>
        <locationY>5582</locationY>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_7Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Household.Primary_Advisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Advisor Tasks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHHAdvisorTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BPs to create: Estate Plan, Beneficiaries, Management Forms</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_HH_Advisor_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Orion_Task</name>
        <label>Orion Task</label>
        <locationX>930</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>varR_OrionTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_OperationsQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Orion Tasks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OrionTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Orion HH, move accounts, review/update Portal access.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_to_Both_Parties_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Review_Separated_HH_Task</name>
        <label>Review Separated HH Task</label>
        <locationX>930</locationX>
        <locationY>4934</locationY>
        <assignmentItems>
            <assignToReference>varR_ReviewSeparatedHHTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Divorce_Process__c.Operations_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ReviewSeparatedHHTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ReviewSeparatedHHTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Review the Separated HH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ReviewSeparatedHHTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ReviewSeparatedHHTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This related household is the new Household of the recent divorce. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Mini_Plan_Original_HH_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Schedule_Mini_Plan_HH_Task</name>
        <label>Schedule Mini Plan HH Task</label>
        <locationX>1106</locationX>
        <locationY>7130</locationY>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Schedule Mini Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assign task to scheduling CSR for the client.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Operations_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Schedule_Mini_Plan_New_HH_Task</name>
        <label>Schedule Mini Plan New HH Task</label>
        <locationX>930</locationX>
        <locationY>5150</locationY>
        <assignmentItems>
            <assignToReference>varR_MiniPlanNewHHTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SeparatedHousehold.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanNewHHTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanNewHHTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanNewHHTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Schedule Mini Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanNewHHTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assign task to scheduling CSR for the client.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Operations_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Schedule_Mini_Plan_Original_HH_Task</name>
        <label>Schedule Mini Plan Original HH Task</label>
        <locationX>930</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Divorce Decree Received: Schedule Mini Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assign task to scheduling CSR for the client.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_MiniPlanOriginalHHTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_Tomorrow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Mini_Plan_New_HH_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_PA_as_Non_Primary_PA</name>
        <label>Set Default PA as Non Primary PA</label>
        <locationX>1062</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varT_DefaultPAContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SeparatedPAContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OriginalHouseholdPrimaryGMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NonPrimaryGMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OriginalHouseholdExSpouseGMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientGMId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Original_HH_GM_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_PA_as_Primary_PA</name>
        <label>Set Default PA as Primary PA</label>
        <locationX>798</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varT_DefaultPAContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SeparatedPAContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OriginalHouseholdPrimaryGMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PrimaryClientGMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OriginalHouseholdExSpouseGMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NonPrimaryGMId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Original_HH_GM_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NON_Primary_Client_PA</name>
        <label>Set NON Primary Client PA</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_NonPrimaryPAContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Person_Accounts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_NonPrimaryGMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Person_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Person_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_HH_GM_Values</name>
        <label>Set Original HH GM Values</label>
        <locationX>930</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_OriginalHouseholdPrimaryGMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.FinServ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.FinServ__PrimaryGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.FinServ__Rollups__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdPrimaryGM.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_OriginalHouseholdExSpouseGMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.FinServ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.FinServ__PrimaryGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.FinServ__Rollups__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OriginalHouseholdExSpouseGM.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ex-Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Group_Members_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Client_PA</name>
        <label>Set Primary Client PA</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_PrimaryClientPAContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Person_Accounts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_PrimaryClientGMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Person_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Person_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Outcomes</name>
        <label>Outcomes</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Neither_party_staying_Terminate_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neither</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TerminationButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate Household Now</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_both_Person_Accounts_to_Divorced1</targetReference>
            </connector>
            <label>Neither party staying - Terminate Now</label>
        </rules>
        <rules>
            <name>Neither_party_staying_Terminate_Later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neither</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TerminationButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminate Household Later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_both_Person_Accounts_to_Divorced</targetReference>
            </connector>
            <label>Neither party staying - Terminate Later</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_was_selected_to_keep_existing_advisor_team</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Primary_Client_Staying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChosePersonAccountDataTable.firstSelectedRow.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varT_PrimaryClientPAContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Ex_Spouse_Group_Member</targetReference>
            </connector>
            <label>Primary Client Staying</label>
        </rules>
        <rules>
            <name>Spouse_Staying_Client_Leaving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChosePersonAccountDataTable.firstSelectedRow.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varT_NonPrimaryPAContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_updated_Roles_to_HH_Group_Members</targetReference>
            </connector>
            <label>Spouse Staying, Client Leaving</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paraplanner_Populated</name>
        <label>Paraplanner Populated</label>
        <locationX>930</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Create_HH_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Paraplanner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newParaplanner.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Paraplanner_Team_Member</targetReference>
            </connector>
            <label>Add Paraplanner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role</name>
        <label>Role</label>
        <locationX>1326</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_NON_Primary_Client_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Primary Client</defaultConnectorLabel>
        <rules>
            <name>Primary_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Person_Accounts.FinServ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Client_PA</targetReference>
            </connector>
            <label>Primary Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Advisor_Populated</name>
        <label>Secondary Advisor Populated</label>
        <locationX>930</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Strategic_Advisor_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Secondary_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newSecondaryAdvisor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Secondary_Advisor_Team_Member</targetReference>
            </connector>
            <label>Add Secondary Advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Strategic_Advisor_Populated</name>
        <label>Strategic Advisor Populated</label>
        <locationX>930</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Tax_Advisor_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Strategic_Advisor_in_Meetings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStrategicAdvisor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Strategic_Advisor_In_Meetings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Strategic_Advisor_Team_Member_in_Meetings</targetReference>
            </connector>
            <label>Add Strategic Advisor in Meetings</label>
        </rules>
        <rules>
            <name>Add_Strategic_Advisor_NOT_in_Meetings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStrategicAdvisor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Strategic_Advisor_In_Meetings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Strategic_Advisor_Team_Member_not_in_meetings</targetReference>
            </connector>
            <label>Add Strategic Advisor NOT in Meetings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject</name>
        <label>Task Subject</label>
        <locationX>1150</locationX>
        <locationY>6122</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Created_Task_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Orion_or_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Created_Task_Collection.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Orion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Created_Task_Collection.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email both Parties</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Relationship_to_New_HH_on_Shared_Tasks</targetReference>
            </connector>
            <label>Contains Orion or Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Advisor_Populated</name>
        <label>Tax Advisor Populated</label>
        <locationX>930</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Paraplanner_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Tax_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTaxAdvisor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tax_Team_Member</targetReference>
            </connector>
            <label>Add Tax Advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_was_selected_to_keep_existing_advisor_team</name>
        <label>Who was selected to keep existing advisor team?</label>
        <locationX>930</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Set_Default_PA_as_Non_Primary_PA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Primary Selected</defaultConnectorLabel>
        <rules>
            <name>Primary_Member_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdvisorTeamPersonAccountDataTable.firstSelectedRow.FinServ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_PA_as_Primary_PA</targetReference>
            </connector>
            <label>Primary Member Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <name>forD_Tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>forT_OriginalClientHouseholdName</name>
        <dataType>String</dataType>
        <expression>{!Get_Default_Spouse_PA.FirstName}&amp;&quot; &quot;&amp;{!Get_Default_Spouse_PA.LastName}</expression>
    </formulas>
    <formulas>
        <name>forT_SeparatedClientHouseholdName</name>
        <dataType>String</dataType>
        <expression>{!Get_Separated_Spouse_PA.FirstName}&amp;&quot; &quot;&amp;{!Get_Separated_Spouse_PA.LastName}</expression>
    </formulas>
    <interviewLabel>Screen Flow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Household Divorce Post Roundtable Steps</label>
    <loops>
        <name>Loop_Through_Created_Task_Collection</name>
        <label>Loop Through Created Task Collection</label>
        <locationX>930</locationX>
        <locationY>6014</locationY>
        <collectionReference>varC_TaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Person_Accounts</name>
        <label>Loop through Person Accounts</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Person_Account_Group_Relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Who_is_Staying</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_HH_Team_Members</name>
        <label>Create HH Team Members</label>
        <locationX>930</locationX>
        <locationY>4178</locationY>
        <connector>
            <targetReference>Assign_New_HH_Group_Members</targetReference>
        </connector>
        <inputReference>varC_NewHHTeamMembersCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Household</name>
        <label>Create New Household</label>
        <locationX>930</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Get_Default_Spouse_PA</targetReference>
        </connector>
        <inputReference>varR_SeparatedHousehold</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Relationships</name>
        <label>Create Task Relationships</label>
        <locationX>930</locationX>
        <locationY>6614</locationY>
        <inputReference>varC_TaskRelations</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_to_Terminate_Client_Later</name>
        <label>Create Task to Terminate Client Later</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Termination_Task_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>After the divorce, neither client is staying at CCM. Create the Termination BP on the due date of this task. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Divorce Decree Received: Create Termination BP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>930</locationX>
        <locationY>5906</locationY>
        <connector>
            <targetReference>Loop_Through_Created_Task_Collection</targetReference>
        </connector>
        <inputReference>varC_TaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks0</name>
        <label>Create Tasks</label>
        <locationX>1106</locationX>
        <locationY>7778</locationY>
        <inputReference>varC_TaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Terminated_Client_Business_Process</name>
        <label>Create Terminated Client Business Process</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <inputAssignments>
            <field>FSTR__Business_Account__c</field>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSTR__Client__c</field>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSTR__Due_Date__c</field>
            <value>
                <elementReference>forD_7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSTR__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSTR__Subject__c</field>
            <value>
                <stringValue>Terminated Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Neither spouse is staying at CCM post divorce.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Household.Primary_Advisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Terminated_Client_Business_Process_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>FSTR__Business_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Operations_Queue</name>
        <label>Get Operations Queue</label>
        <locationX>1106</locationX>
        <locationY>7238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Orion_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operations_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varT_OperationsQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Spouse_PA</name>
        <label>Get Default Spouse PA</label>
        <locationX>930</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Original_Household_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_DefaultPAContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>1106</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outcomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operations_Queue</name>
        <label>Get Operations Queue</label>
        <locationX>930</locationX>
        <locationY>5258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Orion_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operations_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varT_OperationsQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Group_Relations</name>
        <label>Get Person Account Group Relations</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Person_Accounts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Separated_Spouse_PA</name>
        <label>Get Separated Spouse PA</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Household_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_SeparatedPAContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Terminated_Client_Business_Process_Record_Type</name>
        <label>Get Terminated Client Business Process Record Type</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Terminated_Client_Business_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminated_Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Ex_Spouse_Group_Member</name>
        <label>Update Ex Spouse Group Member</label>
        <locationX>1634</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Update_both_Person_Accounts_to_Divorced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinServ__PrimaryGroup__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Rollups__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Ex-Partner</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_both_Person_Accounts_to_Divorced</name>
        <label>Update both Person Accounts to Divorced</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Task_to_Terminate_Client_Later</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Divorce__c</field>
            <value>
                <elementReference>Official_Date_of_Divorce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__MaritalStatus__c</field>
            <value>
                <stringValue>Divorced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Marriage__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_both_Person_Accounts_to_Divorced</name>
        <label>Update both Person Accounts to Divorced</label>
        <locationX>1106</locationX>
        <locationY>6914</locationY>
        <connector>
            <targetReference>Update_Household</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Divorce__c</field>
            <value>
                <elementReference>Official_Date_of_Divorce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__MaritalStatus__c</field>
            <value>
                <stringValue>Divorced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Marriage__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_both_Person_Accounts_to_Divorced1</name>
        <label>Update both Person Accounts to Divorced</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Get_Terminated_Client_Business_Process_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_NonPrimaryPAContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_PrimaryClientPAContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Divorce__c</field>
            <value>
                <elementReference>Official_Date_of_Divorce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__MaritalStatus__c</field>
            <value>
                <stringValue>Divorced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Marriage__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GM_Records</name>
        <label>Update GM Records</label>
        <locationX>1898</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Update_both_Person_Accounts_to_Divorced</targetReference>
        </connector>
        <inputReference>varC_OriginalHouseholdGroupMembers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Changes Household Name to client that is staying</description>
        <name>Update_Household</name>
        <label>Update Household</label>
        <locationX>1106</locationX>
        <locationY>7022</locationY>
        <connector>
            <targetReference>Schedule_Mini_Plan_HH_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ChosePersonAccountDataTable.firstSelectedRow.Contact_Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Household_Group_Members</name>
        <label>Update Original Household Group Members</label>
        <locationX>930</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Get_Separated_Spouse_PA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Separated_Spouse_PA</targetReference>
        </faultConnector>
        <inputReference>varC_OriginalHouseholdGroupMembers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Changes Household Name to primary client</description>
        <name>Update_Original_Household_Name</name>
        <label>Update Original Household Name</label>
        <locationX>930</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Assign_Primary_Advisor_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_HouseholdID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forT_OriginalClientHouseholdName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Accounts</name>
        <label>Update Person Accounts</label>
        <locationX>930</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Review_Separated_HH_Task</targetReference>
        </connector>
        <inputReference>varC_PersonAccountContacts</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Roundtable_Confirmation</name>
        <label>Roundtable Confirmation</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Person_Account_Group_Relations</targetReference>
        </connector>
        <fields>
            <name>Official_Date_of_Divorce</name>
            <dataType>Date</dataType>
            <fieldText>Official Date of Divorce</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Date on Divorce Decree&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>roundtableConfirmationButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Roundtable Occurred&quot;,&quot;value&quot;:&quot;Roundtable Occured&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Who_is_Staying</name>
        <label>Who is Staying</label>
        <locationX>1106</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Household</targetReference>
        </connector>
        <fields>
            <name>whoIsStayingButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Neither&quot;,&quot;value&quot;:&quot;Neither&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Both&quot;,&quot;value&quot;:&quot;Both&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;One&quot;,&quot;value&quot;:&quot;One&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who is staying as a CCM client?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>terminationTimingInstructions</name>
            <fieldText>&lt;p&gt;Selecting &apos;Terminate Household Now&apos; will create the Termination BP record. Selecting &apos;Terminate Household Later&apos; will create a Task to terminate the Household, due on the date you select.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Neither</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TerminationButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Terminate Household Now&quot;,&quot;value&quot;:&quot;Terminate Household Now&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Terminate Household Later&quot;,&quot;value&quot;:&quot;Terminate Household Later&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Termination Process Timing </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Neither</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Termination_Task_Date</name>
            <dataType>Date</dataType>
            <fieldText>Termination Task Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TerminationButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Terminate Household Later</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>selectionInstructions</name>
            <fieldText>&lt;p&gt;Select the person who is staying as a CCM client.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChosePersonAccountDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Spouses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Person_Account_Group_Relations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-4ef5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Roles&quot;,&quot;guid&quot;:&quot;column-84c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Roles&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>currentAdvisorTeam</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select the Spouse who is staying with the current advisor team:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AdvisorTeamPersonAccountDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Person_Account_Group_Relations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact_Full_Name__c&quot;,&quot;guid&quot;:&quot;column-4611&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contact Full Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Roles&quot;,&quot;guid&quot;:&quot;column-100b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Roles&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;FinServ__Primary__c&quot;,&quot;guid&quot;:&quot;column-4ce1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Primary Client&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Primary Member&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newAdvisorTeam</name>
            <fieldText>&lt;p&gt;Populate those known on the new Advisor Team. This will be the team assigned to the spouse not selected in the table above.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newPrimaryAdvisor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Advisor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Advisor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newSecondaryAdvisor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Advisor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Secondary_Advisor__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newStrategicAdvisor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Strategic Advisor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Strategic_Advisor__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Strategic_Advisor_In_Meetings</name>
            <dataType>Boolean</dataType>
            <fieldText>Strategic Advisor In Meetings?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Leaving this box unchecked means Not in Meetings&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newParaplanner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Paraplanner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Paraplanner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>newTaxAdvisor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tax Advisor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Tax_Advisor__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>whoIsStayingButtons.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Both</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Roundtable_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_NewHHTeamMembersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varC_NewHouseholdAccountSharing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varC_NewHouseholdGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varC_OriginalHouseholdGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varC_PersonAccountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varC_TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varC_TaskRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskRelation</objectType>
    </variables>
    <variables>
        <name>varR_DefaultPAContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_EmailTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_MiniPlanNewHHTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_MiniPlanOriginalHHTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_NewHHAdvisorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdParaplannerShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdParaplannerTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdPrimaryAdvisorShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdPrimaryAdvisorTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdSecondaryAdvisorShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdSecondaryAdvisorTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdStrategicAdvisorTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_NewHouseholdTaxTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_OriginalHHAdvisorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_OriginalHouseholdExSpouseGM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_OriginalHouseholdPrimaryGM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_OrionTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_ReviewSeparatedHHTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varR_SeparatedHousehold</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_SeparatedHouseholdExSpouseGM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_SeparatedHouseholdPrimaryGM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varR_SeparatedPAContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_TaskRelationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskRelation</objectType>
    </variables>
    <variables>
        <name>varT_DefaultPAContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarT_HouseholdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_NonPrimaryGMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_NonPrimaryPAContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OperationsQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OriginalHouseholdExSpouseGMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OriginalHouseholdPrimaryGMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_PrimaryClientGMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_PrimaryClientPAContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SeparatedPAContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
